# pandas excelワークフロー

エクセルの関数とかマクロとかって、凝れば凝るほど見通しが悪くなって、手がつけられなくなる。
でも他人とやり取りするときはエクセルのほうが見てくれるんだよなぁ。

あと、openpyxlってOfficeの仕様変更があったら困りそうであまり使いたくない。
ざっくり取り込むことだけに使って、後の作業はpandasに渡したほうがいいと思うんで、
データフレームをある程度整えるところまでをまとめる。

In [99]:
import openpyxl as xl
import pandas as pd
pd.options.display.colheader_justify = 'right'
pd.set_option('display.unicode.east_asian_width', True)

# エクセルシートを読む
wb = xl.load_workbook("file_example_XLSX_10.xlsx")
print(wb)
print(wb.sheetnames)
ws = wb["Sheet1"]
print(ws)
data = ws.values
# print(data)

# pandasデータフレームに変換する。ただ変換する。
df_normal = pd.DataFrame(data)
print(df_normal)

<openpyxl.workbook.workbook.Workbook object at 0x1353AAF0>
['Sheet1']
<Worksheet "Sheet1">
   0           1          2       3              4    5           6     7
0  0  First Name  Last Name  Gender        Country  Age        Date    Id
1  1       Dulce      Abril  Female  United States   32  15/10/2017  1562
2  2        Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
3  3      Philip       Gent    Male         France   36  21/05/2015  2587
4  4    Kathleen     Hanner  Female  United States   25  15/10/2017  3549
5  5     Nereida    Magwood  Female  United States   58  16/08/2016  2468
6  6      Gaston      Brumm    Male  United States   24  21/05/2015  2554
7  7        Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
8  8     Earlean     Melgar  Female  United States   27  16/08/2016  2456
9  9    Vincenza    Weiland  Female  United States   40  21/05/2015  6548

In [100]:
# 特定の行を列名にする
data = ws.values

# list化して[0]をヘッダーに、[1:]をデータにする
data = list(data)
df_colmunname = pd.DataFrame(data[1:], columns=data[0])
print(df_colmunname)

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

In [101]:
# シート中の特定の範囲をデータテーブルにする
# openpyxlでやる方法もあるが、pandasのほうが見通しがいいと思う
# 任意の列を抜き出す
df_cx = df_colmunname.filter(items=["First Name", "Last Name", "Country", "Age"])
print(df_cx)

  First Name  Last Name        Country  Age
0      Dulce      Abril  United States   32
1       Mara  Hashimoto  Great Britain   25
2     Philip       Gent         France   36
3   Kathleen     Hanner  United States   25
4    Nereida    Magwood  United States   58
5     Gaston      Brumm  United States   24
6       Etta       Hurn  Great Britain   56
7    Earlean     Melgar  United States   27
8   Vincenza    Weiland  United States   40

In [102]:
# 任意の列を削る
df_cd = df_colmunname.drop(columns=["First Name", "Last Name", "Country", "Age"])
print(df_cd)

   0  Gender        Date    Id
0  1  Female  15/10/2017  1562
1  2  Female  16/08/2016  1582
2  3    Male  21/05/2015  2587
3  4  Female  15/10/2017  3549
4  5  Female  16/08/2016  2468
5  6    Male  21/05/2015  2554
6  7  Female  15/10/2017  3598
7  8  Female  16/08/2016  2456
8  9  Female  21/05/2015  6548

In [103]:
# 任意の行を抜き出す
# 3-5行目を抜き出したい場合
df_rx = df_colmunname[3:6]
print(df_rx)

   0 First Name Last Name  Gender        Country  Age        Date    Id
3  4   Kathleen    Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida   Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston     Brumm    Male  United States   24  21/05/2015  2554

In [104]:
# 任意の行を削る
# 3-5行目を消したい場合
df_rd = df_colmunname.drop(range(3,6))
print(df_rd)

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

## Requirement
- python3  
    - Python 3.8.1 で動作確認
    - pandas
    - openpyxl

## Special Thanks
[file-examples.com](https://file-examples.com/)  
for file_example_XLSX_10.xlsx.

## Licence

[MIT](https://github.com/shka86/foo/blob/master/LICENCE)

## Author

[shka86](https://github.com/shka86)